{% extends 'base.html' %}
{% load cms_tags %}
    {% block content %}
    <div class="row">

        <div class="offset-3 col-6">
        <h3 class="text-center">Contact us</h3>
        <hr><br><br><br><br>
        <form id="contact-form" name="contact-form" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <!--Grid row-->
                <div class="row input_sec">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control" placeholder="Your name">
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="sender_email" class="form-control"  placeholder="Your email">
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <br><br>
                <div class="row input_sec">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="3" class="form-control md-textarea" placeholder="Message"></textarea>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

                 <!--Grid row-->
                <div class="row input_sec">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <input type="file" id="attachment" name="file" placeholder="attatchments">
                        </div>

                    </div>
                </div>
                <!--Grid row-->

                <input type="submit" class="btn btn-primary" value="Send">

                {% for message in messages %}
                    <span style="color: green">{{ message }}</span><br>
                {% endfor %}

            </form>
        </div>
    </div>
    <br>
{% endblock %}