{% load cms_tags menu_tags sekizai_tags staticfiles %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        {% render_block "css" %}
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    </head>
    <body>
        {% cms_toolbar %}{% load menu_tags %}
        <nav class="navbar navbar-expand-md bg-dark navbar-dark p-3 mb-5 ">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav navbar-nav">
                {% show_menu 0 100 100 100 %}
            </ul>
          </div>
        </nav>

        <div class="container_">
            {% block content %}{% endblock content %}
        </div>

        <footer class="bg-info">
            {% static_placeholder 'footer' %}
        </footer>

        {% render_block "js" %}
        {% block custom_js %}{% endblock %}
    </body>
</html>
