{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-lg-2" data-spy="affix">
           <div class="card body">
                {% placeholder "sidebar_left" or%}
                    <div class="card">
                        <div class="card body text-center">
                            Sidebar contents here
                        </div>
                    </div>
                {% endplaceholder %}
            </div>

        </div>
        <div class="col-lg-8" style="padding-left: 10px; padding-right: 10px;">
            {% placeholder "content" %}
        </div>
        <div class="col-lg-2" data-spy="affix">
           <div class="card body">
                {% placeholder "sidebar_right" or%}
                    <div class="card">
                        <div class="card body text center">
                            Sidebar contents here
                        </div>
                    </div>
                {% endplaceholder %}
            </div>

        </div>
    </div>
{% endblock content %}