{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-lg-9">
            {% placeholder "content" %}
        </div>
        <div class="col-lg-3" data-spy="affix">
           <div class="card body">
                {% placeholder "sidebar" or%}
                    <div class="card">
                        <div class="card body text center">
                            Sidebar contents here
                        </div>
                    </div>
                {% endplaceholder %}
            </div>

        </div>
    </div>
{% endblock content %}
