    .nav {
        padding-left: 0;
    }
    .nav li {
        display: inline;
        list-style-type: none;
        width: 100px;
    }

    .nav li a{
        display: block;
        color: white;
    }

    .container_ {
        margin-left: 20px;
        margin-right: 20px;

    }
    .content {
        width: 80%;
    }
    .sidebar {
        float: left;
        width: 100%;
    }
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 10%;
        padding: 20px 0px 0px 0px;
        margin: 0;
        color: white;
        text-align: center;
    }
    @import url("https://fonts.googleapis.com/css?family=Rubik:500,700|Roboto:400,600");
    .section-padding {
        padding: 45px 0;
    }
    .section-dark {
        background-color: #f9f9f9;
        z-index: -2;
    }
    .form-control,
    .form-group .form-control {
        border: 0;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
        background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
        background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#D2D2D2, #D2D2D2);
        background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
        -webkit-background-size: 0 2px, 100% 1px;
        background-size: 0 2px, 100% 1px;
        background-repeat: no-repeat;
        background-position: center bottom, center -webkit-calc(100% - 1px);
        background-position: center bottom, center calc(100% - 1px);
        background-color: rgba(0, 0, 0, 0);
        -webkit-transition: background 0s ease-out;
        -o-transition: background 0s ease-out;
        transition: background 0s ease-out;
        float: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
    }

    .form-control::-moz-placeholder,
    .form-group .form-control::-moz-placeholder {
        color: #BDBDBD;
        font-weight: 400
    }

    .form-control:-ms-input-placeholder,
    .form-group .form-control:-ms-input-placeholder {
        color: #BDBDBD;
        font-weight: 400
    }
    .input_sec{
        margin-bottom: 30px;
    }

