
<div class="text-center"><h3>{{ instance.label }}</h3></div>
<ul class="list-group">
    {% for poll in polls %}
        <a href="{% url 'polls:detail' poll.id %}" style="display: block">
            <li class="list-group-item">{{ poll.question }}</li>
        </a>
    {% endfor %}
</ul>
