
<div class="card">
    <div class="card-header">
        <h5 class="text-primary">{{ instance.label }}</h5>
        <hr>
        <h6>{{ poll.question }}</h6>
        <p>Got {{ vote_count }} votes so far</p>

    </div>
    <div class="card-body">
        <form class="" action="{% url 'polls:vote' poll.id %}" method="post">
            {% csrf_token %}
            <div class="">
                {% for choice in poll.choice_set.all %}
                    <div class="radio">
                        <label>
                            <input type="radio" name="choice"  value="{{ choice.id }}">
                            {{ choice.choice_text }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            <input type="submit" class="btn btn-primary" value="Vote" />
        </form>
    </div>
</div>
