{% extends 'base.html' %}

    {% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="send">
    </form>

    <br>
    <br>
    {% for message in messages %}
    <span style="color: green">
        {{ message }}
    </span>
    {% endfor %}
{% endblock %}